@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
  -webkit-overflow-scrolling: touch;
}

#root {
  min-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}
